/*!
global > color
------------------------------
*/
:root {
    --color-bg-primary-deep: #334040;
    --color-bg-primary: #57BDAA;
    --color-bg-primary-light: #E4F3F1;
    --color-bg-base: #ffffff;
    --color-bg-primary-hover: #57BDAA;
    --color-border-gray: #eeeeee;
    --color-font-primary: #baa8a2;
    --color-font-black: #333333;
    --color-font-white: #ffffff;
    --color-font-base: #5d5d5d;
    --color-font-y: #ecf9ac;
}
