@use "../global" as g;

/*!
layout > container
------------------------------
*/
%container {
    padding: 0 1rem;
    margin: 0 auto;
}

// .l-container-s {
//     @extend %container;
//     max-width: var(--width-content-s);
// }

.l-container {
    @extend %container;
    max-width: var(--width-content);
}
.l-container-s {
    @extend %container;
    max-width: var(--width-content-s);
}